.ordinaryArrow {
    background: var(--gray-2100);
    outline: 2px solid var(--gray-2200);
    width: 37px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.ordinaryArrow:hover{
    background: var(--gray-2100);
    outline: 2px solid var(--gray-2200);
}

.left {
    left: 5px;
}

.right {
    right: 5px;
}

