.wrapper{
    width: 100%;
}

.simular{
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    background: var(--black-400);
    padding: 15px 30px 30px;
    border-radius: 19px;
}

.simular__paragraph{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

@media(max-width: 768px){
    .simular__paragraph{
        font-size: 25px;
        margin-bottom: 0;
    }
    .simular{
        margin-top: 30px;
        padding: 15px;
    }
}

@media(max-width: 425px){
    .simular__paragraph{
        font-size: 23px;
    }
    .simular{
        padding: 5px;
    }
}


