.desktopHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    width: 100%;
}

.desktopHeader__mobile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.searchOverlay {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 31;
    cursor: pointer;
    backdrop-filter: blur(7px);
}

@media (max-width: 768px){
    .searchOverlay{
        top: 130px;
    }
}