.frame {
    width: 55vw;
    border: 0;
}

.frame:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    clip-path: none;
}

.frame:-moz-full-screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.frame:-ms-fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    clip-path: none;
}

.frame:fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    clip-path: none;
}

@media(max-width: 1025px) {
    .frame {
        width: 100%;
    }
}

