.frame {
    width: 80vw;
    height: 120vh;
    clip-path: inset(333px 0 0 0);
    border: 0;
    margin-top: -330px;
}
.frame:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    clip-path: none;
}

.frame:-moz-full-screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    clip-path: none;
}

.frame:-ms-fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    clip-path: none;
}

.frame:fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    clip-path: none;
}

.wrapper{
    display: flex;
    column-gap: 20px;
}